<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
  {{ partial "head_custom.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main class="flex-grow w-full max-w-container-max mx-auto px-gutter py-section-gap">
    <h1 class="font-headline-xl text-headline-xl mb-stack-md">{{ .Title }}</h1>
    <ul class="font-body-lg text-body-lg space-y-4">
      {{ range .Pages }}
      <li><a class="text-primary hover:underline hover:text-on-primary-container" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </main>
  {{ partial "footer.html" . }}
  {{ partial "base-foot.html" . }}
</body>
</html>
