@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
    
    .bento-card {
        border: 1px solid theme('colors.on-surface');
        transition: all 0.3s ease;
    }
    
    .bento-card:hover {
        background-color: theme('colors.primary-container');
    }
}

@layer base {
    h1, h2, h3 {
        text-transform: none !important;
    }
}
